a {
  text-decoration: none !important;
  color: #fff !important;
  padding: 10px;
  font-size: 20px;
}

a:hover {
  background-color: #716d6d;
  border-radius: 10px;
}

.card {
  flex: 40%;
  box-shadow: 0 0 0 1px black;
  margin-bottom: 10px;
}
